01. Abbiamo una lista di liste. 
Che tipo di struttura dati o matematica potrebbe rappresentare? Notare che tutte le liste "interne" sono della stessa dimensione: è una matrice
Come facciamo per accedere ad un elemento in particolare?

In [14]:
import numpy as np

mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
array_mat = np.array(mat) # casting
for lista in mat:
    print(lista)
num = np.array([[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]])
num[1][3]

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[10, 11, 12, 13, 14]

8

02. Importiamo il modulo math e proviamo a usare le funzioni
.sin()
.cos()
.factorial()
e la variabile
.pi
la riconoscete?

In [47]:
import math

# per usare math.pi (ossia il pigreco) posso usare la formula per trasformare un angolo in radianti: ang= alpha(180°/pi) 
# suppongo di avere un angolo in radianti. Valore 1
alpha = 1.571 # valore dell'angolo in radianti
ang = alpha * (180 / math.pi) # trasformazione in gradi sessagesimali
ang

90.01166961505233

In [50]:
# per usare le funzioni di seno e coseno invece ho pensato ad un triangolo rettangolo di cui conosciamo l'ipotenusa e l'ampiezza dell'angolo riferito all'ipotenusa. 
# Possiamo calcolare i cateti a e b 

i = 25
ang = 30 # ampiezza angolo in gradi sessagesimali
ang_rad = ang * (math.pi/180) # trasformazioni in radianti 
# il cateto a = i * sen(ang), mentre b = i *cos(ang)
a = i * math.sin(ang_rad)
b = i * math.cos(ang_rad)

print(a, b)

12.499999999999998 21.65063509461097

In [52]:
math.degrees(math.pi)

180.0

In [54]:
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

03. L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni
mese nell'ultimo anno:
lst = [2000, 5500, 7200, 4320, 1280, 1900,
2500, 3900, 6410, 8150, 7100, 5350]
trasformiamola in un array NumPy (casting):
lst = np.array(lst)
e rispondiamo alle domande del CEO della Object SpA:
• qual è stata la vendita massima mensile? E quella minima?
• quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono?
• quali sono le vendite minori di 3000 oggetti?
• in media quanti oggetti sono stati venduti al mese?

In [76]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
lst_array = np.array(lst)

# qual è stata la vendita massima mensile? E quella minima?
print(f"La vendita minima mensile è stata: {lst_array.min()}")
print(f"La vendita minima massima è stata: {lst_array.max()}")
filtro1 = print(f"Le vendite mensili maggiori di 4999 oggetti sono {lst_array [lst_array > 4999]}")
conteggio = print(f"Il numero dei mesi in cui sono stati venduti più di 4999 oggetti è: {np.sum(lst_array > 4999)}") 
filtro2 = print(f"Le vendite minori di 300 oggetti sono: {lst_array [lst_array < 3000]}")
media = print(f"La media degli oggetti venduti ogni mese è: {np.mean(lst_array)}")

La vendita minima mensile è stata: 1280
La vendita minima massima è stata: 8150
Le vendite mensili maggiori di 4999 oggetti sono [5500 7200 6410 8150 7100 5350]
Il numero dei mesi in cui sono stati venduti più di 4999 oggetti è: 6
Le vendite minori di 300 oggetti sono: [2000 1280 1900 2500]
La media degli oggetti venduti ogni mese è: 4634.166666666667

04. Consideriamo il seguente dizionario:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}

Consideriamo ora la seguente Series:
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000],
index=range(1997, 2005))

Possiamo accedere alle stesse informazioni nello stesso modo:
fatturati_dict[1997]
fatturati_series[1997]
Dunque qual è la differenza tra i due tipi di dato? 
• il risultato può sembrare simile ma con pandas abbiamo la possibilità di effettuare delle analisi o dei conteggi sui valori inseriti differenti e potenziati.
Cosa potremmo fare con la Series che non possiamo fare con il dizionario? 
• per esempio possiamo effettuare i conteggi su tutti i valori contemporanemente oppure effettuare un filtraggio condizionale, fare indagini statistiche rapidamente, creare dataframe

In [78]:
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}
fatturati_dict

{1997: 12000,
 1998: 15000,
 1999: 20000,
 2000: 23000,
 2001: 25000,
 2002: 17000,
 2003: 14000,
 2004: 21000}

In [86]:
import pandas as pd

fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000],
index=range(1997, 2005))
fatturati_series

1997    12000
1998    15000
1999    20000
2000    23000
2001    25000
2002    17000
2003    14000
2004    21000
dtype: int64

05. L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti,
memorizzato in un ndarray:
import numpy as np
stipendi = np.array( [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000] )
L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi:
• con un ciclo for
• con il masking

In [99]:
# • con un ciclo for

import numpy as np

stipendi = np.array([100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
stipendi_aggiornati = []
for stipendio in stipendi:
    stipendio_aggiornato = stipendio * 2
    stipendi_aggiornati.append(stipendio_aggiornato)
print(f"La lista degli stipendi aggiornati è la seguente: \n {stipendi_aggiornati}")

La lista degli stipendi aggiornati è la seguente:
 [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

In [103]:
# • con il masking
import numpy as np

stipendi = np.array([100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
stipendi_aggiornati = stipendi * 2
print(f"La lista degli stipendi aggiornati è la seguente: \n {stipendi_aggiornati}")

La lista degli stipendi aggiornati è la seguente:
 [ 200  400  600  800 1000 1200 1400 1600 1800 2000]